<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Company List</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f5f5f5;
        margin: 0;
        padding: 0;
    }

    h1 {
        text-align: center;
        margin-top: 20px;
        color: #d9534f;
    }

    div {
        margin-bottom: 20px;
        padding: 20px;
        background-color: #fff;
        border-radius: 5px;
        /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); */
    }

    h2 {
        margin-top: 20px;
    }

    input[type="text"] {
        width: calc(100% - 10px);
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;

    }

    button {
        display: block;
        margin-top: 10px;
        padding: 10px;
        background-color: #d9534f;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    li {
        margin-bottom: 10px;
        font-size: 18px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid #ddd;
        background-color: #f9f9f9;
        border-radius: 5px;
        padding: 10px;
        transition: background-color 0.3s;
    }


    .company-list li:hover {
        background-color: #e3e3e3;
    }

    #addRatingLink {
        display: inline-block;
        margin-left: 10px;
        padding: 5px 10px;
        background-color: #d9534f;
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
        transition: background-color 0.3s ease;
    }

    #addRatingLink:hover {
        background-color: #ac2925;
    }

    #searchContainer {
        padding: 10px;
        background-color: #f5f5f5;
    }

    #profileLink {
        float: right;
        margin-right: 20px;
        margin-bottom: 100px;
        display: inline-block;
        margin-left: 10px;
        color: #d9534f;
        text-decoration: none;
        font-size: 30px;
        /* Set the desired font size */
        border-radius: 50%;
        /* Make it round */
        background-color: #fff;
        /* Set the desired background color */
        padding: 10px;
        /* Set the desired padding */
        cursor: pointer;
        transition: background-color 0.3s ease, color 0.3s ease;
        /* Add transition for a smooth hover effect */
    }

    #profileLink:hover {
        background-color: #fff;
        /* Set the desired hover background color */
        color: #ac2925;
        /* Set the desired hover text color */
    }
</style>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />


<body>

    <h1></h1>
    <a href="/profile" id="profileLink"><i class="fas fa-user"></i></a>
    <% if(isAdmin){ %>
        <h1>Company List</h1>
        <% } else { %>
            <h1>
                <%= CompanyName %>
            </h1>
            <% } %>

                <div id="searchContainer">
                    <% if(isAdmin){ %>
                        <div>
                            <form action="./companyList" method="get">
                                <h2>Search for a Company</h2>
                                <input type="text" id="str" name="str" placeholder="Enter company name">
                                <button id="searchButton">Search</button>
                            </form>
                        </div>
                        <a href="/indicator/indicators" id="addRatingLink">Add New Indicator</a>
                        <%}else{ %>
                            <a href="addRating" id="addRatingLink">Add New Rating</a>
                            <% } %>
                                <a href="/InvestFlow_Navigator" id="addRatingLink">Bussiness Calculator</a>
                </div>


                <div>
                    <h2>Records</h2>
                    <ul id="companyList" class="company-list">
                        <% var oldScore=0; %>
                            <% companies.forEach(function (company) { %>
                                <li onclick="window.location.href='/detail/<%= company.id %>'">
                                    <span>
                                        <%= company.CompanyName %>
                                    </span>
                                    <span>
                                        <%= company.formattedTimestamp %>&nbsp;&nbsp;&nbsp;&nbsp;
                                            <% if (oldScore < company.overallScore) { %>
                                                <span style="color: green;">&nbsp;<%= company.overallScore %>
                                                        &nbsp;&nbsp;<i class="fas fa-arrow-up"></i></span>
                                                <% } else if (oldScore> company.overallScore) { %>
                                                    <span style="color: red;">&nbsp;<%= company.overallScore %>
                                                            &nbsp;&nbsp;<i class="fas fa-arrow-down"></i></span>
                                                    <% } else { %>
                                                        <%= company.overallScore %>
                                                            <% } %>
                                                                <% oldScore=company.overallScore; %>
                                </li>
                                <% }); %>
                    </ul>
                </div>

</body>

</html>